<section>
  <div class="wrapper">
    <div class="datenschutz">
        <h5>
              Allgemeine Geschäftsbedingungen für den Hotelaufnahmevertrag (Stand: November 2014)</h5>
            <br>
            <p>
              <strong>1 Geltungsbereich</strong></p>
            <p>
              1.1 Diese Geschäftsbedingungen gelten für Verträge über die mietweise Überlassung von Hotelzimmern zur Beherbergung sowie alle in diesem Zusammenhang für den Kunden erbrachten weiteren Leistungen und Lieferungen des Hotels (Hotelaufnahmevertrag). Der Begriff „Hotelaufnahmevertrag“ umfasst und ersetzt folgende Begriffe: Beherbergungs-, Gastaufnahme-, Hotel-, Hotelzimmervertrag.</p>
            <p>
              1.2 Die Unter- oder Weitervermietung der überlassenen Zimmer sowie deren Nutzung zu anderen als Beherbergungszwecken bedürfen der vorherigen Zustimmung des Hotels in Textform, wobei § 540 Absatz 1 Satz 2 BGB abbedungen wird, soweit der Kunde nicht Verbraucher ist.</p>
            <p>
              1.3 Allgemeine Geschäftsbedingungen des Kunden finden nur Anwendung, wenn dies vorher ausdrücklich vereinbart wurde.</p>
            <p>
              </p>
            <p>
              <strong>2 Vertragsabschluss, -partner, Verjährung</strong></p>
            <p>
              2.1 Vertragspartner sind das Hotel und der Kunde. Der Vertrag kommt durch die Annahme des Antrags des Kunden durch das Hotel zustande. Dem Hotel steht es frei, die Zimmerbuchung in Textform zu bestätigen.</p>
            <p>
              2.2 Alle Ansprüche gegen das Hotel verjähren grundsätzlich in einem Jahr ab dem gesetzlichen Verjährungsbeginn. Dies gilt nicht bei Schadensersatzansprüchen und bei sonstigen Ansprüchen, sofern letztere auf einer vorsätzlichen oder grob fahrlässigen Pflichtverletzung des Hotels beruhen.</p>
            <p>
              </p>
            <p>
              <strong>3 Leistungen, Preise, Zahlung, Aufrechnung</strong></p>
            <p>
              3.1 Das Hotel ist verpflichtet, die vom Kunden gebuchten Zimmer bereitzuhalten und die vereinbarten Leistungen zu erbringen.</p>
            <p>
              3.2 Der Kunde ist verpflichtet, die für die Zimmerüberlassung und die von ihm in Anspruch genommenen weiteren Leistungen vereinbarten bzw. geltenden Preise des Hotels zu zahlen. Dies gilt auch für vom Kunden direkt oder über das Hotel beauftragte Leistungen, die durch Dritte erbracht und vom Hotel verauslagt werden.</p>
            <p>
              3.3 Die vereinbarten Preise verstehen sich einschließlich der zum Zeitpunkt des Vertragsschlusses geltenden Steuern und lokalen Abgaben. Nicht enthalten sind lokale Abgaben, die nach dem jeweiligen Kommunalrecht vom Gast selbst geschuldet sind, wie zum Beispiel Kurtaxe.</p>
            <p>
              Bei Änderung der gesetzlichen Umsatzsteuer oder der Neueinführung, Änderung oder Abschaffung lokaler Abgaben auf den Leistungsgegenstand nach Vertragsschluss werden die Preise entsprechend angepasst. Bei Verträgen mit Verbrauchern gilt dieses nur, wenn der Zeitraum zwischen Vertragsabschluss und Vertragserfüllung vier Monate überschreitet.</p>
            <p>
              3.4 Das Hotel kann seine Zustimmung zu einer vom Kunden gewünschten nachträglichen Verringerung der Anzahl der gebuchten Zimmer, der Leistung des Hotels oder der Aufenthaltsdauer des Kunden davon abhängig machen, dass sich der Preis für die Zimmer und/oder für die sonstigen Leistungen des Hotels erhöht.</p>
            <p>
              3.5 Rechnungen des Hotels ohne Fälligkeitsdatum sind binnen zehn Tagen ab Zugang der Rechnung ohne Abzug zahlbar. Das Hotel kann die unverzügliche Zahlung fälliger Forderungen jederzeit vom Kunden verlangen. Bei Zahlungsverzug des Kunden gelten die gesetzlichen Regelungen. Dem Hotel bleibt der Nachweis eines höheren Schadens vorbehalten.</p>
            <p>
              3.6 Das Hotel ist berechtigt, bei Vertragsschluss vom Kunden eine angemessene Vorauszahlung oder Sicherheitsleistung, zum Beispiel in Form einer Kreditkartengarantie, zu verlangen. Die Höhe der Vorauszahlung und die Zahlungstermine können im Vertrag in Textform vereinbart werden. Bei Vorauszahlungen oder Sicherheitsleistungen für Pauschalreisen bleiben die gesetzlichen Bestimmungen unberührt. Bei Zahlungsverzug des Kunden gelten die gesetzlichen Regelungen.</p>
            <p>
              3.7 In begründeten Fällen, zum Beispiel Zahlungsrückstand des Kunden oder Erweiterung des Vertragsumfanges, ist das Hotel berechtigt, auch nach Vertragsschluss bis zu Beginn des Aufenthaltes eine Vorauszahlung oder Sicherheitsleistung im Sinne vorstehender Ziffer 3.6 oder eine Anhebung der im Vertrag vereinbarten Vorauszahlung oder Sicherheitsleistung bis zur vollen vereinbarten Vergütung zu verlangen.</p>
            <p>
              3.8 Das Hotel ist ferner berechtigt, zu Beginn und während des Aufenthaltes vom Kunden eine angemessene Vorauszahlung oder Sicherheitsleistung im Sinne vorstehender Ziffer 3.6 für bestehende und künftige Forderungen aus dem Vertrag zu verlangen, soweit eine solche nicht bereits gemäß vorstehender Ziffer 3.6 und/oder Ziffer 3.7 geleistet wurde.</p>
            <p>
              3.9 Der Kunde kann nur mit einer unstreitigen oder rechtskräftigen Forderung gegenüber einer Forderung des Hotels aufrechnen oder verrechnen.</p>
            <p>
              </p>
            <p>
              <strong>4 Rücktritt des Kunden (Abbestellung, Stornierung) /Nichtinanspruchnahme der Leistungen des Hotels (No Show)</strong></p>
            <p>
              4.1 Ein Rücktritt des Kunden von dem mit dem Hotel geschlossenen Vertrag ist nur möglich, wenn ein Rücktrittsrecht im Vertrag ausdrücklich vereinbart wurde, ein sonstiges gesetzliches Rücktrittsrecht besteht oder wenn das Hotel der Vertragsaufhebung ausdrücklich zustimmt. Die Vereinbarung eines Rücktrittsrechtes sowie die etwaige Zustimmung zu einer Vertragsaufhebung sollen jeweils in Textform erfolgen.</p>
            <p>
              4.2 Sofern zwischen dem Hotel und dem Kunden ein Termin zum kostenfreien Rücktritt vom Vertrag vereinbart wurde, kann der Kunde bis dahin vom Vertrag zurücktreten, ohne Zahlungs- oder Schadensersatzansprüche des Hotels auszulösen. Das Rücktrittsrecht des Kunden erlischt, wenn er nicht bis zum vereinbarten Termin sein Recht zum Rücktritt gegenüber dem Hotel ausübt.</p>
            <p>
              Ist ein Rücktrittsrecht nicht vereinbart oder bereits erloschen, besteht auch kein gesetzliches Rücktritts- oder Kündigungsrecht und stimmt das Hotel einer Vertragsaufhebung nicht zu, behält das Hotel den Anspruch auf die vereinbarte Vergütung trotz Nichtinanspruchnahme der Leistung. Das Hotel hat die Einnahmen aus anderweitiger Vermietung der Zimmer sowie die ersparten Aufwendungen anzurechnen. Werden die Zimmer nicht anderweitig vermietet, so kann das Hotel den Abzug für ersparte Aufwendungen pauschalieren. Der Kunde ist in diesem Fall verpflichtet, mindestens 90% des vertraglich vereinbarten Preises für Übernachtung mit oder ohne Frühstück sowie für Pauschalarrangements mit Fremdleistungen, 70% für Halbpensions- und 60% für Vollpensionsarrangements zu zahlen. Dem Kunden steht der Nachweis frei, dass der vorgenannte Anspruch nicht oder nicht in der geforderten Höhe entstanden ist.</p>
            <p>
              </p>
            <p>
              <strong>5 Rücktritt des Hotels</strong></p>
            <p>
              5.1 Sofern vereinbart wurde, dass der Kunde innerhalb einer bestimmten Frist kostenfrei vom Vertrag zurücktreten kann, ist das Hotel in diesem Zeitraum seinerseits berechtigt, vom Vertrag zurückzutreten, wenn Anfragen anderer Kunden nach den vertraglich gebuchten Zimmern vorliegen und der Kunde auf Rückfrage des Hotels mit angemessener Fristsetzung auf sein Recht zum Rücktritt nicht verzichtet.</p>
            <p>
              5.2 Wird eine gemäß Ziffer 3.6 und/oder Ziffer 3.7 vereinbarte oder verlangte Vorauszahlung oder Sicherheitsleistung auch nach Verstreichen einer vom Hotel gesetzten angemessenen Nachfrist nicht geleistet, so ist das Hotel ebenfalls zum Rücktritt vom Vertrag berechtigt.</p>
            <p>
              5.3 Ferner ist das Hotel berechtigt, aus sachlich gerechtfertigtem Grund vom Vertrag außerordentlich zurückzutreten, insbesondere falls</p>
            <p>
              - Höhere Gewalt oder andere vom Hotel nicht zu vertretende Umstände die Erfüllung des Vertrages unmöglich machen;</p>
            <p>
              - Zimmer oder Räume schuldhaft unter irreführender oder falscher Angabe oder Verschweigen wesentlicher Tatsachen gebucht werden; wesentlich kann dabei die Identität des Kunden, die Zahlungsfähigkeit oder der Aufenthaltszweck sein;</p>
            <p>
              - das Hotel begründeten Anlass zu der Annahme hat, dass die Inanspruchnahme der Leistung den reibungslosen Geschäftsbetrieb, die Sicherheit oder das Ansehen des Hotels in der Öffentlichkeit gefährden kann, ohne dass dies dem Herrschafts- bzw. Organisationsbereich des Hotels zuzurechnen ist;</p>
            <p>
              - der Zweck bzw. der Anlass des Aufenthaltes gesetzeswidrig ist;</p>
            <p>
              - ein Verstoß gegen oben genannte Ziffer 1.2 vorliegt.</p>
            <p>
              5.4 Der berechtigte Rücktritt des Hotels begründet keinen Anspruch des Kunden auf Schadensersatz.</p>
            <p>
              </p>
            <p>
              <strong>6 Zimmerbereitstellung, -übergabe und -rückgabe</strong></p>
            <p>
              6.1 Der Kunde erwirbt keinen Anspruch auf die Bereitstellung bestimmter Zimmer, soweit dieses nicht ausdrücklich vereinbart wurde.</p>
            <p>
              6.2 Gebuchte Zimmer stehen dem Kunden ab 15:00 Uhr des vereinbarten Anreisetages zur Verfügung. Der Kunde hat keinen Anspruch auf frühere Bereitstellung.</p>
            <p>
              6.3 Am vereinbarten Abreisetag sind die Zimmer dem Hotel spätestens um 12:00 Uhr geräumt zur Verfügung zu stellen. Danach kann das Hotel aufgrund der verspäteten Räumung des Zimmers für dessen vertragsüberschreitende Nutzung bis 18:00 Uhr 50% des vollen Logispreises (Listenpreises) in Rechnung stellen, ab 18:00 Uhr 90%. Vertragliche Ansprüche des Kunden werden hierdurch nicht begründet. Ihm steht es frei nachzuweisen, dass dem Hotel kein oder ein wesentlich niedrigerer Anspruch auf Nutzungsentgelt entstanden ist.</p>
            <p>
              </p>
            <p>
              <strong>7 Haftung des Hotels</strong></p>
            <p>
              7.1 Das Hotel haftet für von ihm zu vertretende Schäden aus der Verletzung des Lebens, des Körpers oder der Gesundheit. Weiterhin haftet es für sonstige Schäden, die auf einer vorsätzlichen oder grob fahrlässigen Pflichtverletzung des Hotels beziehungsweise auf einer vorsätzlichen oder fahrlässigen Verletzung von vertragstypischen Pflichten des Hotels beruhen. Einer Pflichtverletzung des Hotels steht die eines gesetzlichen Vertreters oder Erfüllungsgehilfen gleich. Weitergehende Schadensersatzansprüche sind, soweit in dieser Ziffer 7 nicht anderweitig geregelt, ausgeschlossen. Sollten Störungen oder Mängel an den Leistungen des Hotels auftreten, wird das Hotel bei Kenntnis oder auf unverzügliche Rüge des Kunden bemüht sein, für Abhilfe zu sorgen. Der Kunde ist verpflichtet, das ihm Zumutbare beizutragen, um die Störung zu beheben und einen möglichen Schaden gering zu halten.</p>
            <p>
              7.2 Für eingebrachte Sachen haftet das Hotel dem Kunden nach den gesetzlichen Bestimmungen. Das Hotel empfiehlt die Nutzung des Hotel- oder Zimmersafes. Sofern der Gast Geld, Wertpapiere und Kostbarkeiten mit einem Wert von mehr als 800 Euro oder sonstige Sachen mit einem Wert von mehr als 3.500 Euro einzubringen wünscht, bedarf dies einer gesonderten Aufbewahrungsvereinbarung mit dem Hotel.</p>
            <p>
              7.3 Soweit dem Kunden ein Stellplatz in der Hotelgarage oder auf dem Hotelparkplatz, auch gegen Entgelt, zur Verfügung gestellt wird, kommt dadurch kein Verwahrungsvertrag zustande. Bei Abhandenkommen oder Beschädigung auf dem Hotelgrundstück abgestellter oder rangierter Kraftfahrzeuge und deren Inhalte haftet das Hotel nur nach Maßgabe der vorstehenden Ziffer 7.1, Sätze 1 bis 4.</p>
            <p>
              7.4 Weckaufträge werden vom Hotel mit größter Sorgfalt ausgeführt.</p>
            <p>
              Nachrichten, Post und Warensendungen für die Gäste werden mit Sorgfalt behandelt. Das Hotel übernimmt die Zustellung, Aufbewahrung und – auf Wunsch – gegen Entgelt die Nachsendung derselben. Das Hotel haftet hierbei nur nach Maßgabe der vorstehenden Ziffer 7.1, Sätze 1 bis 4.</p>
            <p>
              </p>
            <p>
              <strong>8 Schlussbestimmungen</strong></p>
            <p>
              8.1 Änderungen und Ergänzungen des Vertrages, der Antragsannahme oder dieser Allgemeinen Geschäftsbedingungen sollen in Textform erfolgen. Einseitige Änderungen oder Ergänzungen durch den Kunden sind unwirksam.</p>
            <p>
              8.2 Erfüllungs- und Zahlungsort sowie ausschließlicher Gerichtsstand – auch für Scheck- und Wechselstreitigkeiten – ist im kaufmännischen Verkehr(Hamburg, Bremerhaven oder Schwerin). Sofern ein Vertragspartner die Voraussetzung des § 38 Absatz 2 ZPO erfüllt und keinen allgemeinen Gerichtsstand im Inland hat, gilt als Gerichtsstand (Hamburg, Bremerhaven oder Schwerin).</p>
            <p>
              8.3 Es gilt deutsches Recht. Die Anwendung des UN-Kaufrechts und des Kollisionsrechts ist ausgeschlossen.</p>
            <p>
              8.4 Sollten einzelne Bestimmungen dieser Allgemeinen Geschäftsbedingungen unwirksam oder nichtig sein oder werden, so wird dadurch die Wirksamkeit der übrigen Bestimmungen nicht berührt. Im Übrigen gelten die gesetzlichen Vorschriften.</p>
    </div>
  </div>
</section>