{% if page.url == "/english.html"  %}
<section class="features">
		<div class="wrapper">
	
		
		
		
{% include roomsslideshow.html %}

		<div class="flex-cont areas">
				<div class="area">
					<a href="/nybar-en/" class="block-link"></a>
					<div class="area-image newyorkbar-bg">	
					</div>
					<div class="area-logo-cont">
						<img class="area-logo" src="{{site.baseurl }}/assets/images/NYBar-logo.svg" alt="">
					</div>
				</div>
				<div class="area">
					<a href="http://www.mulberry-bremerhaven.de" target="_blank" class="block-link"></a>
					<div class="area-image mulberry-bg">	
					</div>
					<div class="area-logo-cont">
						<a href="http://www.mulberry-bremerhaven.de" target="_blank"><img class="area-logo" src="{{site.baseurl }}/assets/images/mulberry-st-logo.svg" alt="Mulberry Restaurant Bremerhaven"></a>
					</div>
				</div>
				<div class="area">
					<a href="/upperwest-en/" class="block-link"></a>
					<div class="area-image upperwest-bg">	
					</div>
					<div class="area-logo-cont">
						<img class="area-logo" src="{{site.baseurl }}/assets/images/upper-west-logo.svg" alt="">
					</div>
				</div>
				<div class="area">
					<a href="/miami-en/" class="block-link"></a>
					<div class="area-image miami-bg">	
					</div>
					<div class="area-logo-cont">
						<img class="area-logo" src="{{site.baseurl }}/assets/images/miami-spa-logo.svg" alt="">
					</div>
				</div>
			</div>
		</div>
		</section>




{% else %}
<section class="features">
<div class="wrapper">
{% include zimmerslideshow.html %}
<div class="flex-cont areas">
		<div class="area">
			<a href="/nybar-de/" class="block-link"></a>
			<div class="area-image newyorkbar-bg">	
			</div>
			<div class="area-logo-cont">
				<img class="area-logo" src="{{site.baseurl }}/assets/images/NYBar-logo.svg" alt="">
			</div>
		</div>
		<div class="area">
			<a href="http://www.mulberry-bremerhaven.de" target="_blank" class="block-link"></a>
			<div class="area-image mulberry-bg">	
			</div>
			<div class="area-logo-cont">
				<a href="http://www.mulberry-bremerhaven.de" target="_blank"><img class="area-logo" src="{{site.baseurl }}/assets/images/mulberry-st-logo.svg" alt="Mulberry Restaurant Bremerhaven"></a>
			</div>
		</div>
		<div class="area">
			<a href="/upperwest-de/" class="block-link"></a>
			<div class="area-image upperwest-bg">	
			</div>
			<div class="area-logo-cont">
				<img class="area-logo" src="{{site.baseurl }}/assets/images/upper-west-logo.svg" alt="">
			</div>
		</div>
		<div class="area">
			<a href="/miami-de/" class="block-link"></a>
			<div class="area-image miami-bg">	
			</div>
			<div class="area-logo-cont">
				<img class="area-logo" src="{{site.baseurl }}/assets/images/miami-spa-logo.svg" alt="">
			</div>
		</div>
	</div>
</div>
</section>
{% endif %}
