<section class="features">
	<div class="wrapper">
		{% include roomslideshow.html %}
		<div class="flex-cont">
			<div class="area">
				<div class="area-image area-bg-01">	
				</div>
				<div class="area-logo-cont">
					<img class="area-logo" src="{{site.baseurl }}/assets/images/NYBar-logo.svg" alt="">
				</div>
			</div>
			<div class="area">
				<div class="area-image area-bg-02">	
				</div>
				<div class="area-logo-cont">
					<a href="http://www.mulberry-bremerhaven.de" target="_blank"><img class="area-logo" src="{{site.baseurl }}/assets/images/mulberry-st-logo.svg" alt="Mulberry Restaurant Bremerhaven"></a>
				</div>
			</div>
			<div class="area">
				<div class="area-image area-bg-03">	
				</div>
				<div class="area-logo-cont">
					<img class="area-logo" src="{{site.baseurl }}/assets/images/upper-west-logo.svg" alt="">
				</div>
			</div>
			<div class="area">
				<div class="area-image miami-bg-kv">	
				</div>
				<div class="area-logo-cont">
					<img class="area-logo" src="{{site.baseurl }}/assets/images/miami-spa-logo.svg" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

