<section class="features">
	<div class="wrapper">
		<div class="owl-two owl-carousel owl-theme margin-bot">
			<div class="roomgallery rg01">
				<div class="lockup">
					<h3 class="lockup-desc uppercase">City View Rooms </br> <span>ab</span></h3>
					<h3 class="lockup-price uppercase">128,00 EUR</h3>
				</div>
			</div>
			<div class="roomgallery rg02">
				<div class="lockup">
					<h3 class="lockup-desc uppercase">Water View Rooms </br> <span>ab</span></h3>
					<h3 class="lockup-price uppercase">148,00 EUR</h3>
				</div>
			</div>
		</div>
		<div class="flex-cont">
			<div class="area">
				<div class="area-image area-bg-01">	
				</div>
				<div class="area-logo-cont">
					<img class="area-logo" src="{{site.baseurl }}/assets/images/NYBar-logo.svg" alt="">
				</div>
			</div>
			<div class="area">
				<div class="area-image area-bg-02">	
				</div>
				<div class="area-logo-cont">
					<img class="area-logo" src="{{site.baseurl }}/assets/images/mulberry-st-logo.svg" alt="">
				</div>
			</div>
			<div class="area">
				<div class="area-image area-bg-03">	
				</div>
				<div class="area-logo-cont">
					<img class="area-logo" src="{{site.baseurl }}/assets/images/upper-west-logo.svg" alt="">
				</div>
			</div>
			<div class="area">
				<div class="area-image area-bg-04">	
				</div>
				<div class="area-logo-cont">
					<img class="area-logo" src="{{site.baseurl }}/assets/images/miami-spa-logo.svg" alt="">
				</div>
			</div>
		</div>
	</div>
</section>