<div class="owl-one owl-carousel">
		<div class="keyvisual bhst01"></div>
		<div class="keyvisual bhdah02"></div>
		<div class="keyvisual bhkm01"></div>
		<div class="keyvisual bhkb01"></div>
	</div>
	
<section class="kultur last-section">
	<a  id="info"></a>
	<div class="wrapper">
		<div class="description">
			<h4 class="uppercase">Culture in Bremerhaven</h4>
			<p>Feel free to contact us if you need any further information about the cultural highlights.</p>
		</div>
		<div class="grid">
			<div class="gr-object">
				<div class="bg-image bhst01"></div>
				<h6 class="uppercase">Stadttheater Bremerhaven</h6>
				<a href="http://www.stadttheaterbremerhaven.de">www.stadttheaterbremerhaven.de</a>
			</div>
			<div class="gr-object subgrid span2-4">
				<div class="gr-object">
					<div class="bg-image bhdah01"></div>
					<h6 class="uppercase">Deutsches Auswandererhaus</h6>
					<a href="http://www.dah-bremerhaven.de">www.dah-bremerhaven.de</a>
				</div>
				<div class="gr-object">
					<div class="bg-image bhdah02 bg-image-cut"></div>
				</div>
			</div>
			<div class="gr-object subgrid span1-3">
					<div class="gr-object">
							<div class="bg-image bhkm01"></div>
						<h6 class="uppercase">Kunstmuseum und Kunsthalle Bremerhaven</h6>
					<a href="http://www.kunstverein-bremerhaven.de">www.kunstverein-bremerhaven.de</a>
					</div>
					<div class="gr-object">
							<div class="bg-image bhkm02 bg-image-cut"></div>
					</div>
			</div>
			<div class="gr-object">
					<div class="bg-image bhds01"></div>
				<h6 class="uppercase">Deutsches Schiffahrtsmuseum</h6>
				<a href="http://www.kunstverein-bremerhaven.de">www.dsm.museum</a>
			</div>
			<div class="gr-object">
					<div class="bg-image bhhm01"></div>
				<h6 class="uppercase">Historisches Museum</h6>
				<a href="http://www.historisches-museum-bremerhaven.de">www.historisches-museum-bremerhaven.de</a>
			</div>
			<div class="gr-object">
					<div class="bg-image bhkb01"></div>
				<h6 class="uppercase">Klimahaus Bremerhaven</h6>
				<a href="http://www.klimahaus-bremerhaven.de">www.klimahaus-bremerhaven.de</a>
			</div>
		</div>
		<div class="description">
				<h4 class="uppercase">Sport in Bremerhaven</h4>
			</div>
		<div class="grid2">
				<div class="gr-object">
						<div class="bg-image bhft01"></div>
					<h6 class="uppercase">Fischtown Pinguins</h6>
					<a href="http://www.fischtown-pinguins.de">www.fischtown-pinguins.de</a>
				</div>
				<div class="gr-object">
						<div class="bg-image bheb01"></div>
					<h6 class="uppercase">Eisbären Bremerhaven</h6>
					<a href="http://www.dieeisbaeren.de">www.dieeisbaeren.de</a>
				</div>

		</div>
	</div>
</div>
</section>