
<div class="owl-one owl-carousel">
	<div class="keyvisual kv01a">
			<div class="nowopen">
				<h2>Now Open</h2>
				<img class="logo" src="{{site.baseurl }}/assets/images/libertylogo.svg" alt="">
				<!-- <h5>Bremerhavens neues Themenhotel</h5> -->
			</div>
	</div>
	<div class="keyvisual kv10"></div>
	<div class="keyvisual kv04"></div>
	<div class="keyvisual kv09"></div>
	<div class="keyvisual kv01"></div>
	<div class="keyvisual kv02"></div>
	<div class="keyvisual kv03"></div>
	<div class="keyvisual kv05"></div>
	<div class="keyvisual kv06"></div>
	<div class="keyvisual kv07"></div>
	<div class="keyvisual kv08"></div>
	<div class="keyvisual kv11"></div>
	<div class="keyvisual kv12"></div>
	<div class="keyvisual kv13"></div>
</div>
