<section>
	<div class="wrapper">
	<div class="description">
		{% if page.url == "/english.html" %}
		<p><strong class="uppercase">The Liberty</strong>, which opened in early 2018, is located in a unique, historic spot on the “neuen Hafen” where more than 7 million emigrants left Europe seeking their fortune in the New World.</p>
		<p>The luxurious, modern and elegant ambience of the <strong class="uppercase">4 star SUPERIOR Hotel</strong> will be another attraction in the seaside town of Bremerhaven.</p>
		{% else %}
   		<p> <strong class="uppercase">THE LIBERTY</strong> – Bremerhavens neues Themenhotel, würde Anfang 2018 eröffnet, liegt an einzigartiger, historischer Stelle am neuen Hafen wo über 7 Millionen Auswanderer Europa verließen und Ihr Glück in der neuen Welt suchten.</p>
					<p>Das luxuriöse, moderne und elegante Ambiente des <strong class="uppercase">4 Sterne SUPERIOR Hotels</strong>, wird  ein weiterer Anziehungspunkt in der Seestadt Bremerhaven sein.</p>
		{% endif %}
	</div>
	</div>
</section>