<section class="features">
	<div class="wrapper flexrow">
		<div class="featbox flexitem cover waterview">
			<div class="pricebox blueborder">
				<h5>Water-View Rooms</h5>
				<p>ab</p>
				<h2>€ 148,00</h2>				
			</div>
		</div>
		<div class="featbox flexitem cover streetview">
			<div class="pricebox orangeborder">
				<h5>Street-View Rooms</h5>
				<p>ab</p>
				<h2>€ 128,00</h2>				
			</div>
		</div>
		<div class="featbox flexitem cover restaurant"></div>
		<div class="featbox flexitem textcontain blue">
			<p class="feature-description">Das luxuriöse, moderne und elegante Ambiente des 4 Sterne SUPERIOR Hotels, wird ein weiterer Anziehungspunkt in der Seestadt Bremerhaven sein.</p>
		</div>
		<div class="featbox flexitem textcontain gold">
			<p class="feature-description">Das luxuriöse, moderne und elegante Ambiente des 4 Sterne SUPERIOR Hotels, wird ein weiterer Anziehungspunkt in der Seestadt Bremerhaven sein.</p>		
		</div>
		<div class="featbox flexitem cover bar"></div>
	</div>
</section>