<footer class="footer">
		<div class="logo-wrapper">
			<a href="{{ site.baseurl}}/index.html"><img class="footer-logo" src="{{ site.baseurl}}/assets/images/liberty-logo-neg.svg" alt=""></a>
		</div>
		<nav class="footernav">
		{% include nav.html %}
	</nav>
		<p>Liberty Hotel Bremerhaven GmbH</p>
<p>Columbusstrasse 67 | 27568 Bremerhaven</p>
<p>Telefon: 0471 / 90 22 40</p>
<p>info@liberty-bremerhaven.com</p>
<p>© 2018 The Liberty Bremerhaven GmBH</p>
<p>Ein Haus der Raphael Hotels  |  Hamburg • Bremerhaven • Schwerin </p>
</footer>


