<footer class="footer">
		<div class="logo-wrapper">
			<a href="{{ site.baseurl}}/index.html"><img class="footer-logo" src="assets/images/liberty-logo-neg.svg" alt=""></a>
		</div>
		<nav class="footernav">
		<ul>
			<li><a href="#">About</a></li>
			<li><a href="#">Rooms</a></li>
			<li><a href="#">Mulberry ST</a></li>
			<li><a href="#">New York Bar</a></li>
			<li><a href="#">The Upper West</a></li>
			<li><a href="#">Miami Spa</a></li>
			<li><a href="#">Bremerhaven</a></li>
		</ul>
	</nav>
		<p>Liberty Hotel Bremerhaven GmbH</p>
<p>Columbusstrasse 67 | 27568 Bremerhaven</p>
<p>Telefon: 0471 / 90 22 40</p>
<p>info@liberty-bremerhaven.com</p>

<p>© 2018 The Liberty Bremerhaven GmBH</p>
<p>Ein Haus der Raphael Hotels  |  Hamburg • Bremerhaven • Schwerin </p>

</footer>


