<ul>
		<li><a href="{{site.baseurl }}/english.html/#info">Info</a></li>
		<li><a {% if page.url == "/rooms.html" %}class="active"{% endif %} href="/rooms">Rooms</a></li>
		<li><a href="http://www.mulberry-bremerhaven.de" target="_blank">Mulberry ST</a></li>
		<li><a {% if page.url == "/nybar-en.html" %}class="active"{% endif %} href="/nybar-en">New York Bar</a></li>
		<li><a {% if page.url == "/upperwest-en.html" %}class="active"{% endif %} href="/upperwest-en">The Upper West</a></li>
		<li><a {% if page.url == "/miami-en.html" %}class="active"{% endif %} href="/miami-en">Miami Spa</a></li>
		<li><a {% if page.url == "/bremerhaven-en.html" %}class="active"{% endif %} href="/bremerhaven-en">Bremerhaven</a></li>
		<li><a {% if page.url == "/data.html" %}class="active"{% endif %} href="/data">Data Privacy Statement</a></li>
		<li><a {% if page.url == "/gtc.html" %}class="active"{% endif %} href="/gtc">GTC</a></li>
</ul>