<ul>
		<li><a href="{{site.baseurl }}/#info">Info</a></li>
		<li><a {% if page.url == "/zimmer.html" %}class="active"{% endif %} href="/zimmer">Zimmer</a></li>
		<li><a href="http://www.mulberry-bremerhaven.de" target="_blank">Mulberry ST</a></li>
		<li><a {% if page.url == "/nybar-de.html" %}class="active"{% endif %} href="/nybar-de">New York Bar</a></li>
		<li><a {% if page.url == "/upperwest-de.html" %}class="active"{% endif %} href="/upperwest-de">Upper West</a></li>
		<li><a {% if page.url == "/miami-de.html" %}class="active"{% endif %} href="/miami-de">Miami Spa</a></li>
		<li><a {% if page.url == "/bremerhaven-de.html" %}class="active"{% endif %} href="/bremerhaven-de">Bremerhaven</a></li>
		<li><a href="/impressum">Impressum</a></li>
		<li><a href="/agb-de">AGB</a></li>
		<li><a href="/datenschutz">Datenschutz</a></li>
	</ul>