<header class="header">
	<div class="wrapper">
		<div id="menu-icon">
  		<span></span>
  		<span></span>
  		<span></span>
  		<span></span>
		</div>
		<div class="flex-cont flex-center flex-wrap">
			<div class="lang-block">
					<a href="{{ site.baseurl}}/english.html"> <img class="english-selector" src="{{site.baseurl }}/assets/images/english.png" alt="english" width="40px" height="auto"></a>
	<a href="{{ site.baseurl}}/index.html"> <img class="deutsch-selector" src="{{site.baseurl }}/assets/images/deutsch.png" alt="german" width="40px" height="auto"></a>
			
			</div>
			<div class="logo-block">
				<a href="{{ site.baseurl}}/index.html"><img class="logo" src="{{site.baseurl}}/assets/images/libertylogo.svg" alt=""></a>
			</div>
			<div class="action-block">
				<a href="https://www.cbooking.de/v4/booking.aspx?id=theliberty&module=public&ratetype=bar&lang=de" target="_blank" class="btn book-btn btn-xl">Book a Room</a>
				<p class="caption"><strong>Tel. +49 (0) 471 / 90 22 40 </strong></p>
			</div>
		</div>
	</div>
</header>