<header class="header">
		<div class="wrapper">
			<div class="logo-long hidden">
				<img class="star-logo" src="assets/images/star-hotel-logo.svg" alt="">		
				<img class="logo" src="assets/images/liberty-logo.svg" alt="">
				<p class="logo-text">Bremerhaven</p>					
			</div>
			<div class="logo-block visible">
				<img class="star-logo" src="assets/images/star-hotel-logo.svg" alt="">		
				<img class="logo" src="assets/images/liberty-logo.svg" alt="">
				<p class="logo-text">Bremerhaven</p>						
			</div>
		</div>
		<div class="wrapper">
			<div class="owl-carousel">
				<div class="keyvisual kv01"></div>
				<div class="keyvisual kv02"></div>
				<div class="keyvisual kv03"></div>
				<div class="keyvisual kv04"></div>
			</div>
		</div>
</header>