	
<div class="owl-one owl-carousel">
		<div class="keyvisual miami-bg04"></div>
		<div class="keyvisual miami-bg05"></div>
		<div class="keyvisual miami-bg06"></div>
</div>
<section class="last-section miami">
	<a  id="info"></a>
	<div class="wrapper">
		<div class="description">
            <img class="logo miamilogo" src="{{site.baseurl }}/assets/images/miami-spa-logo.svg" alt="">
			<p>Text needed</p>
    </div>
    <div class="flex-cont">
        <div class="col100">
          <div class="room-image-doub miami-bg"></div>
        </div>
        <div class="col66 colL">
          <div class="room-image miami-bg02"></div>
        </div>
        <div class="col33 colR">
          <div class="room-image miami-bg03"></div>
        </div>
     </div>

	</div>
</div>
</section>

