	
<div class="owl-one owl-carousel">
		<div class="keyvisual miami-bg09"></div>
		<div class="keyvisual miami-bg10"></div>
		<div class="keyvisual miami-bg11"></div>
</div>
<section class="last-section miami">
	<a  id="info"></a>
	<div class="wrapper">
		<div class="description">
            <img class="logo miamilogo" src="{{site.baseurl }}/assets/images/miami-spa-logo.svg" alt="">
			<p>Entfliehen Sie dem Alltag und lassen Sie sich im <strong class="uppercase">Miami</strong> <strong>Spa</strong> verwöhnen! In unserem Day Spa im Dachgeschoss erwarten Sie eine finnische Sauna, eine Bio-Sauna, ein Ruheraum sowie ein Fitnessbereich mit Cardiogeräten. Genießen Sie Massage- und Kosmetikanwendungen und entspannen Sie auf der Dachterrasse mit Blick auf Bremerhavens Neuen Hafen und die Weser.
        </p>
    </div>
    <div class="flex-cont">
        <div class="col100">
          <div class="room-image-doub miami-bg"></div>
        </div>
        <div class="col66 colL">
          <div class="room-image-doub miami-bg05"></div>
        </div>
        <div class="col33 colR">
          <div class="room-image-doub miami-bg07"></div>
        </div>
        <div class="col100">
            <div class="room-image miami-bg04"></div>
          </div>
          <div class="col50 colL">
            <div class="room-image miami-bg06"></div>
          </div>
          <div class="col50 colR">
            <div class="room-image miami-bg08"></div>
          </div>
     </div>

	</div>
</div>
</section>

