<nav class="normal-navigation">
	<ul>
			<li><a href="{{site.baseurl }}/english.html/#info">Info</a></li>
			<li><a {% if page.url == "/rooms.html" %}class="active"{% endif %} href="/rooms">Rooms</a></li>
			<li><a href="http://www.mulberry-bremerhaven.de" target="_blank">Mulberry ST</a></li>
			<li><a {% if page.url == "/nybar-en.html" %}class="active"{% endif %} href="/nybar-en">New York Bar</a></li>
			<li><a {% if page.url == "/upperwest-en.html" %}class="active"{% endif %} href="/upperwest-en">The Upper West</a></li>
			<li><a {% if page.url == "/miami-en.html" %}class="active"{% endif %} href="/miami-en">Miami Spa</a></li>
			<li><a {% if page.url == "/bremerhaven-en.html" %}class="active"{% endif %} href="/bremerhaven-en">Bremerhaven</a></li>
	</ul>
</nav>
<div class="mobile-cont hidden">
	<a href="{{ site.baseurl}}/index.html"><img class="menu-logo" src="{{site.baseurl }}/assets/images/libertylogoneg.svg" alt="">	</a>
	<nav class="mobile-navigation">
		<ul>
			<li><a href="{{site.baseurl }}/english.html/#info">Info</a></li>
			<li><a {% if page.url == "/rooms.html" %}class="active"{% endif %} href="/rooms">Rooms</a></li>
			<li><a href="http://www.mulberry-bremerhaven.de" target="_blank">Mulberry ST</a></li>
			<li><a {% if page.url == "/nybar-en.html" %}class="active"{% endif %} href="/nybar-en">New York Bar</a></li>
			<li><a {% if page.url == "/upperwest-en.html" %}class="active"{% endif %} href="/upperwest-en">The Upper West</a></li>
			<li><a {% if page.url == "/miami-en.html" %}class="active"{% endif %} href="/miami-en">Miami Spa</a></li>
			<li><a {% if page.url == "/bremerhaven-en.html" %}class="active"{% endif %} href="/bremerhaven-en">Bremerhaven</a></li>
			<li>
				<a href="{{ site.baseurl}}/english.html"> <img class="english-selector" src="{{site.baseurl }}/assets/images/english.png" alt="english" width="40px" height="auto"></a>
				<a href="{{ site.baseurl}}/index.html"> <img class="deutsch-selector" src="{{site.baseurl }}/assets/images/deutsch.png" alt="german" width="40px" height="auto"></a>
			</li>
	</ul>
	</nav>
</div>

