<nav class="normal-navigation">
	<ul>
			<li><a href="{{site.baseurl }}/#info">Info</a></li>
			<li><a {% if page.url == "/zimmer.html" %}class="active"{% endif %} href="/zimmer">Zimmer</a></li>
			<li><a href="http://www.mulberry-bremerhaven.de" target="_blank">Mulberry ST</a></li>
			<li><a {% if page.url == "/nybar-de.html" %}class="active"{% endif %} href="/nybar-de">New York Bar</a></li>
			<li><a {% if page.url == "/upperwest-de.html" %}class="active"{% endif %} href="/upperwest-de">Upper West</a></li>
			<li><a {% if page.url == "/miami-de.html" %}class="active"{% endif %} href="/miami-de">Miami Spa</a></li>
			<li><a {% if page.url == "/bremerhaven-de.html" %}class="active"{% endif %} href="/bremerhaven-de">Bremerhaven</a></li>
		</ul>
	</nav>
	<div class="mobile-cont hidden">
		<a href="{{ site.baseurl}}/index.html"><img class="menu-logo" src="{{site.baseurl }}/assets/images/libertylogoneg.svg" alt="">	</a>
		<nav class="mobile-navigation">
			<ul>
				<li><a href="{{site.baseurl }}/#info">Info</a></li>
				<li><a {% if page.url == "/zimmer.html" %}class="active"{% endif %} href="/zimmer">Zimmer</a></li>
				<li><a href="http://www.mulberry-bremerhaven.de" target="_blank">Mulberry ST</a></li>
				<li><a {% if page.url == "/nybar-de/" %}class="active"{% endif %} href="/nybar-de">New York Bar</a></li>
			<li><a {% if page.url == "/upperwest-de.html" %}class="active"{% endif %} href="/upperwest-de">Upper West</a></li>
			<li><a {% if page.url == "/miami-de.html" %}class="active"{% endif %} href="/miami-de">Miami Spa</a></li>
			<li><a {% if page.url == "/bremerhaven-de.html" %}class="active"{% endif %} href="/bremerhaven-de">Bremerhaven</a></li>
			<li>
					<a href="{{ site.baseurl}}/english.html"> <img class="english-selector" src="{{site.baseurl }}/assets/images/english.png" alt="english" width="40px" height="auto"></a>
					<a href="{{ site.baseurl}}/index.html"> <img class="deutsch-selector" src="{{site.baseurl }}/assets/images/deutsch.png" alt="german" width="40px" height="auto"></a>
			</li>
	</ul>
	</nav>
</div>




