<ul>
	<li><a {% if page.url == "/about/" %}class="active"{% endif %} href="/about/">About</a></li>
			<li><a {% if page.url == "/rooms/" %}class="active"{% endif %} href="/rooms/">Rooms</a></li>
			<li><a {% if page.url == "/mulberry/" %}class="active"{% endif %} href="/mulberry/">Mulberry ST</a></li>
			<!-- <li><a href="#">New York Bar</a></li> -->
			<!-- <li><a href="#">The Upper West</a></li> -->
			<!-- <li><a href="#">Miami Spa</a></li> -->
			<li><a {% if page.url == "/bremerhaven/" %}class="active"{% endif %} href="/bremerhaven/">Bremerhaven</a></li>
</ul>