<div class="owl-one owl-carousel">
		<div class="keyvisual newyorkbar-bg06"></div>
		<div class="keyvisual newyorkbar-bg07"></div>
		<div class="keyvisual newyorkbar-bg08"></div>
</div>	
<section class="last-section dark-bg">
	<a  id="info"></a>
	<div class="wrapper">
		<div class="description">
      <img class="logo nylogo" src="{{site.baseurl }}/assets/images/NYBar-logo-neg.svg" alt="">
			<p>Internationale Drinks und Cocktails im anspruchsvollen Design, können in der ‚New York‘ Bar in der 5. Etage des Hotels oder, bei schönem Wetter, auf der vorgelagerten großen Terrasse genossen werden.</p>
    </div>
    <div class="flex-cont">
        <div class="col100">
          <div class="room-image-doub newyorkbar-bg"></div>
        </div>
        <div class="col66 colL">
          <div class="room-image newyorkbar-bg04"></div>
        </div>
        <div class="col33 colR">
          <div class="room-image newyorkbar-bg03"></div>
        </div>
     </div>

	</div>
</div>
</section>

