<div class="owl-one owl-carousel">
		<div class="keyvisual newyorkbar-bg06"></div>
		<div class="keyvisual newyorkbar-bg07"></div>
		<div class="keyvisual newyorkbar-bg08"></div>
</div>		
<section class="last-section dark-bg">
	<a  id="info"></a>
	<div class="wrapper">
		<div class="description">

        <img class="logo nylogo" src="{{site.baseurl }}/assets/images/NYBar-logo-neg.svg" alt="">

			<p>International drinks and signature cocktails can be enjoyed at the New York Bar on the 5th floor of the hotel or, if the weather is nice, on the large terrace outside.</p>
    </div>
    <div class="flex-cont">
        <div class="col100">
          <div class="room-image-doub newyorkbar-bg"></div>
        </div>
        <div class="col66 colL">
          <div class="room-image newyorkbar-bg04"></div>
        </div>
        <div class="col33 colR">
          <div class="room-image newyorkbar-bg03"></div>
        </div>
        <!-- <div class="col33 colL">
            <div class="room-image newyorkbar-bg02"></div>
          </div>
          <div class="col66 colR">
            <div class="room-image newyorkbar-bg04"></div>
          </div> -->
     </div>

	</div>
</div>
</section>

