		<div class="owl-two owl-carousel owl-theme margin-bot">
			<div class="roomgallery cv01">
				<div class="lockup">
					<h3 class="lockup-desc uppercase">City View Rooms </br></h3>
					<h3 class="lockup-price uppercase"><a href="https://www.cbooking.de/v4/booking.aspx?id=theliberty&module=public&ratetype=bar&lang=de" target="_blank" ><span>ab</span>128,00 EUR</a></h3>			
				</div>
			</div>
			<div class="roomgallery wv01">
				<div class="lockup">
					<h3 class="lockup-desc uppercase">Water View Rooms </br></h3>
					<h3 class="lockup-price uppercase"><a href="https://www.cbooking.de/v4/booking.aspx?id=theliberty&module=public&ratetype=bar&lang=de" target="_blank" ><span>ab</span>148,00 EUR</a></h3>			
				</div>
			</div>
			<div class="roomgallery wvs01">
				<div class="lockup">
					<h3 class="lockup-desc uppercase">Water View Superior Rooms </br></h3>
					<h3 class="lockup-price uppercase"><a href="https://www.cbooking.de/v4/booking.aspx?id=theliberty&module=public&ratetype=bar&lang=de" target="_blank" ><span>ab</span>168,00 EUR</a></h3>			
				</div>
			</div>
			<div class="roomgallery js01">
				<div class="lockup">
					<h3 class="lockup-desc uppercase">Juniorsuite</br></h3>
					<h3 class="lockup-price uppercase"><a href="https://www.cbooking.de/v4/booking.aspx?id=theliberty&module=public&ratetype=bar&lang=de" target="_blank" ><span>ab</span>198,00 EUR</a></h3>			
				</div>
			</div>
			<div class="roomgallery s01">
				<div class="lockup">
					<h3 class="lockup-desc uppercase">Suite</br></h3>
					<h3 class="lockup-price uppercase"><a href="https://www.cbooking.de/v4/booking.aspx?id=theliberty&module=public&ratetype=bar&lang=de" target="_blank" ><span>ab</span>248,00 EUR</a></h3>			
				</div>
			</div>
		</div>