	
<div class="owl-one owl-carousel">
		<div class="keyvisual upperwest-bg"></div>
		<div class="keyvisual upperwest-bg02"></div>
		<div class="keyvisual upperwest-bg03"></div>
</div>
<section class="last-section">
	<a  id="info"></a>
	<div class="wrapper">
		<div class="description">
            <img class="logo miamilogo" src="{{site.baseurl }}/assets/images/upperwestlogo.svg" alt="">
			<p>Der Konferenzraum The Upper West bietet je nach Bestuhlung 10 bis 25 Personen Platz. Der Raum ist mit modernster Medientechnik ausgestattet und verfügt über eine Außenterrasse. Ob Seminar, Besprechung oder Familienfeier – The Upper West passt sich Ihren Bedürfnissen an.</p>
    </div>
    <!-- <div class="flex-cont">
        <div class="col100">
          <div class="room-image-doub miami-bg"></div>
        </div>
        <div class="col66 colL">
          <div class="room-image miami-bg02"></div>
        </div>
        <div class="col33 colR">
          <div class="room-image miami-bg03"></div>
        </div>
     </div> -->

	</div>
</div>
</section>

