	
<div class="owl-one owl-carousel">
		<div class="keyvisual upperwest-bg"></div>
		<div class="keyvisual upperwest-bg02"></div>
		<div class="keyvisual upperwest-bg03"></div>
</div>
<section class="last-section">
	<a  id="info"></a>
	<div class="wrapper">
		<div class="description">
            <img class="logo miamilogo" src="{{site.baseurl }}/assets/images/upperwestlogo.svg" alt="">
			<p>The conference room The Upper West offers seating for 10 to 25 people. The room is equipped with the latest media technology and has an outdoor terrace. Whether seminar, meeting or family celebration - The Upper West adapts to your needs.</p>
    </div>
    <!-- <div class="flex-cont">
        <div class="col100">
          <div class="room-image-doub miami-bg"></div>
        </div>
        <div class="col66 colL">
          <div class="room-image miami-bg02"></div>
        </div>
        <div class="col33 colR">
          <div class="room-image miami-bg03"></div>
        </div>
     </div> -->

	</div>
</div>
</section>

