<section class="rooms">
	<div class="wrapper">
		<div class="description">
   		<p>Das Hotel umfasst 93 elegant ausgestattete Zimmer im 4 Sterne Superior Segment, mit einer Größe von ca. 24 m² bis 30 m², sowie 5 großzügige Juniorsuiten und Suiten mit eigener Terrasse in der 5. Hoteletage. Von den über 60 Water-View-Zimmern mit eigenem Balkon schweift der Blick über den Yachthafen raus auf die Außenweser und Nordsee.</p>
	</div>
{% include zimmerslideshow.html %}
</div>
	<div class="room grey">
		<div class="wrapper">
			<div class="flex-cont">
				<div class="col50 colL">
					<div class="room-image cv01"></div>			
				</div>
				<div class="col50 colR">
					<h4 class="uppercase">City-View Rooms</h4>
					<p>Entspannen Sie in unseren komfortablen City-View Zimmern (ca. 24m²), in ruhiger Lage mit Blick ins Zentrum Bremerhavens.</p>
					<a href="javascript:void(0)" class="more">mehr info</a>
					<div class="infobox">
						<p><strong>Ausstattung:</strong> Doppelbett, Sitzgelegenheit, Badezimmer mit Dusche, Haartrockner, Klimaanlage, Flat-Screen TV, kostenfreies WLAN, Telefon, Safe, 1 Flasche Mineralwasser (0,75l) zu Ihrer Erfrischung, Kaffee/Tee-Station, Minibar</p>
					</div>				
					<a href="https://www.cbooking.de/v4/booking.aspx?id=theliberty&module=public&ratetype=bar&lang=de" class="btn room-price nudgeR" target="_blank"><span>ab</span>128,00 EUR</a>
				</div>
			</div>	
		</div>
	</div>
		<div class="room ">
		<div class="wrapper">
			<div class="flex-cont">
				<div class="col50 colL">
					<h4 class="uppercase">Water-Views Rooms</h4>
					<p>Entspannen Sie in unseren eleganten Water-View Zimmern (ca. 24m²) mit wundervollen Blick auf die Weser und Nordsee.</p>
					<a href="javascript:void(0)" class="more">mehr info</a>
					<div class="infobox">
						<p><strong>Ausstattung:</strong> Balkon, Panoramafenster, Doppelbett, Sitzgelegenheit, Badezimmer mit Dusche, Haartrockner, Klimaanlage, Flat-Screen TV, kostenfreies WLAN, Telefon, Safe, 1 Flasche Mineralwasser (0,75l) zu Ihrer Erfrischung, Kaffee/Tee-Station, Minibar</p>
					</div>
					<a href="https://www.cbooking.de/v4/booking.aspx?id=theliberty&module=public&ratetype=bar&lang=de" class="btn room-price" target="_blank" ><span>ab</span>148,00 EUR</a>				
				</div>
				<div class="col50 colR">
					<div class="room-image wv01"></div>			
				</div>
			</div>	
		</div>
	</div>
		<div class="room grey">
		<div class="wrapper">
			<div class="flex-cont">
				<div class="col50 colL">
					<div class="room-image wvs01"></div>			
				</div>
				<div class="col50 colR">
					<h4 class="uppercase">Water-View Superior</h4>
					<p>Genießen Sie unsere eleganten Superior-Zimmer (ca. 30m²), direkt in der Rundung des Hotels und mit einem wundervollen Blick auf die Weser und Nordsee.</p>
					<a href="javascript:void(0)" class="more">mehr info</a>
					<div class="infobox">
						<p><strong>Ausstattung:</strong> Balkon, Panoramafenster, Doppelbett, Sitzgelegenheit, Badezimmer mit Dusche, Haartrockner, Klimaanlage, Flat-Screen TV, kostenfreies WLAN, Telefon, Safe, 1 Flasche Mineralwasser (0,75l) zu Ihrer Erfrischung, Kaffee/Tee-Station, Minibar</p>
					</div>
					<a href="https://www.cbooking.de/v4/booking.aspx?id=theliberty&module=public&ratetype=bar&lang=de" class="btn room-price nudgeR" target="_blank"><span>ab</span>168,00 EUR</a>				
				</div>
			</div>	
		</div>
	</div>
	<div class="room">
		<div class="wrapper">
			{% include suitesslideshow.html %}
			<div class="flex-cont">
				<div class="col50 colL">
					<h4 class="uppercase">Junior Suite</h4>
					<p>Genießen Sie eine unserer eleganten Junior Suiten in der 5. Etage, mit dem höchsten und besten Blick auf die Weser und Nordsee.</p>
					<a href="javascript:void(0)" class="more">mehr info</a>
					<div class="infobox">
						<p><strong>Ausstattung:</strong> Balkon, Panoramafenster, Doppelbett, Sitzgelegenheit, Badezimmer mit Dusche, Haartrockner, Klimaanlage, Flat-Screen TV, kostenfreies WLAN, Telefon, Safe, 1 Flasche Mineralwasser (0,75l) zu Ihrer Erfrischung, Kaffee/Tee-Station, Minibar</p>
					</div>					
				</div>
				<div class="col50 colR">
					<a href="https://www.cbooking.de/v4/booking.aspx?id=theliberty&module=public&ratetype=bar&lang=de" class="btn room-price" target="_blank"><span>ab</span>198,00 EUR</a>	
				</div>
			</div>
		</div>
	</div>
	<div class="room grey extra-pad">
		<div class="wrapper">
			<div class="flex-cont extra-pad">
				<div class="col50 colL">
					<a href="https://www.cbooking.de/v4/booking.aspx?id=theliberty&module=public&ratetype=bar&lang=de" class="btn room-price" target="_blank"><span>ab</span>248,00 EUR</a>	
				</div>
				<div class="col50 colR">
					<h4 class="uppercase">Suite</h4>
					<p>Genießen Sie unsere elegante und großzügige Manhattan Suite (27-40m²) in der 5. Etage, mit einem grandiosen Blick auf die Weser und Nordsee. </p>
					<a href="javascript:void(0)" class="more">mehr info</a>
					<div class="infobox">
						<p><strong>Ausstattung:</strong> Balkon, Panoramafenster, Doppelbett, Sitzgelegenheit, Badezimmer mit Dusche (3 davon zusätzlich mit Badewanne), Haartrockner, Klimaanlage, Flat-Screen TV, kostenfreies WLAN, Telefon, Safe, 1 Flasche Mineralwasser (0,75l) zu Ihrer Erfrischung, 1 Flasche Prosecco (0,5l) als Aufmerksamkeit vom Haus, Kaffee/Tee-Station, Minibar, täglich kostenfreie Tageszeitung</p>
					</div>
				</div>
			</div>
			<div class="flex-cont">
				<div class="col100">
					<div class="room-image-doub ms01"></div>
				</div>
				<div class="col66 colL">
					<div class="room-image ms02"></div>
				</div>
				<div class="col33 colR">
					<div class="room-image ms03"></div>
				</div>
			</div>
		</div>
	</div>

</section>