
.eroeffnung
	position: absolute
	top: 50px
	right: 0
	z-index: 98
	@media all and (max-width: $screen-m)
		top: 25px
		width: 235px
		height: auto
	@media all and (max-width: $screen-s)
		display: none

.logo-block
	display: flex
	flex-flow: column wrap
	align-items: center
	justify-content: center
	width: 315px
	background: url($baseurl + "/assets/images/spiration-light.png") repeat
	border-left: 2px solid $gold
	border-right: 2px solid $gold
	border-bottom: 2px solid $gold
	padding: 2em 2em 1.25em 2em
	position: absolute
	left: 50%
	top: 0
	transform: translateX(-50%)
	z-index: 100
	transition: transform 0.5s ease-in-out
	@media all and (max-width: $screen-m)
		width: 205px
		padding: 1em
	.logo
		width: 300px
		height: auto
		flex: 1
		@media all and (max-width: $screen-m)
			width: 195px
	.star-logo
		flex-basis: 20%
		width: 100px
		height: auto
		margin: 0 0 1.25em 0
		@media all and (max-width: $screen-m)
			width: 85px 
	.logo-text
		margin: 1.6em 0 0 0 
		color: $gold
		text-transform: uppercase
		font-size: 80%
		letter-spacing: 1.3px
		@media all and (max-width: $screen-m)
			font-size: 75%

.logo-long
	opacity: 1
	display: flex
	flex-flow: row nowrap
	align-items: center
	justify-content: center
	background-color: rgba($light-grey, 0.88)
	padding: 1em
	position: fixed
	top: 0
	left: 0
	z-index: 99
	width: 100%
	transform: translateY(-100%)
	transition: transform 0.5s ease-in-out
	.logo	
		width: 240px
		height: auto
		margin: 0 2em
	.star-logo
		width: 85px
		height: auto
		margin: 0 2em 
	.logo-text
		margin: 0 2em
		color: $gold
		text-transform: uppercase
		font-size: 75%
		letter-spacing: 1.3px

.popdown
	transform: translateY(0)
.popup
	transform: translate(-50%, -100%)
