nav
  background-color: white
  border-top: 2px solid $red
  display: flex
  justify-content: center
  width: 100%
  z-index: 100
  & ul
    display: flex
    & a
      padding: 10px 20px
      color: $red
      font-size: 13px
      text-transform: uppercase
      display: block
      &:hover
        color: white!important
        background-color: $red