
$screen-xl: 1690px
$screen-l: 1280px
$screen-m: 980px
$screen-s: 736px
$screen-xs: 480px

@media all and (max-width: $screen-xl)
@media all and (max-width: $screen-l)
@media all and (max-width: $screen-m)
@media all and (max-width: $screen-s)
@media all and (max-width: $screen-xs)

body
	background-color: $light-background

.description
	padding: 2em 25%
	text-align: center
	@media all and (max-width: $screen-m)
		padding: 2em 10%

.wrapper
	position: relative
	margin: 0 auto
	max-width: $screen-m