
$screen-xl: 940px
// $screen-xl: 1690px
$screen-l: 940px
// $screen-l: 1280px
$screen-m: 940px
$screen-s: 736px
$screen-xs: 480px

@media all and (max-width: $screen-xl)
@media all and (max-width: $screen-l)
@media all and (max-width: $screen-m)
@media all and (max-width: $screen-s)
@media all and (max-width: $screen-xs)

.block-link
	display: block
	background-color: rgba(white,0)
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	&:hover
		background-color: rgba(white,0.2)	

body
	background-color: white

.btn
	color: white
	background-color: $book
	text-transform: uppercase
	font-size: 13px
	padding: 6px 18px
	border-radius: 2px
.btn-xl
	padding: 12px 26px


.dark-bg
	background-color: $dark-grey
	color: white
	p
		color: white!important
	h1,h2,h3,h4,h5,h6
		color: white

a
	&:hover
		color: $orange!important

.flex-cont
	display: flex
.extra-pad
	padding: 2em 0
	@media all and (max-width: $screen-s)
		padding: 0
.last-section
	padding: 0 0 4em 0!important

.margin-bot
	margin-bottom: 2em
.margin-dbot
	margin-bottom: 4em		
.wrapper
	position: relative

	// temp did away with the max-width scaling

	margin: 0 auto
	max-width: $screen-xl
	@media all and (max-width: $screen-l)
		max-width: $screen-l
	@media all and (max-width: $screen-m)
		max-width: $screen-m
	@media all and (max-width: $screen-s)
		max-width: $screen-s
	@media all and (max-width: $screen-xs)
		max-width: $screen-xs

	$border: 2px solid $gold

.order1
	order: 1
.order2
	order: 2
.order3
	order: 3
	@media all and (max-width: $screen-s)
		order: 4
.order4
	order: 4
	@media all and (max-width: $screen-s)
		order: 3
.order5
	order: 5
.order6
	order: 6
.order7
	order: 7

.nylogo, .miamilogo
	width: 380px
	display: block
	margin: 2em auto 2em auto
	@media all and (max-width: $screen-s)
		width: 85%