// @import url('https://fonts.googleapis.com/css?family=Arimo:400,700')
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700')

// $basefont: 'Arimo', sans-serif
$basefont: 'Source Sans Pro', sans-serif
$baseLH: 1.33rem

body
	line-height: $baseLH

a
	font-family: $basefont
	text-decoration: none

h1, h2, h3, h4, h5, h6
	font-family: $basefont
p
	font-family: $basefont

